src
test
*\~
*.swp
.idea
.DS_Store
build
example
node_modules
npm-debug.log*
package-lock.json
yarn.lock
third_party
packages
phase-1
npm
docs
.*
CMakeLists.txt
NodeJS.cmake
karma
etc
appveyor.yml
install
*.tgz
CHANGELOG.md
AUTHORS
